<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <meta charset="utf-8" />
    <style>
        .field {
            width: 180px;
        }
    </style>
</head>
<body>
    <h1>Регистрация нового пользователя или <a href="/">войти</a></h1>
    <form method="POST">
        <label>Придумайте логин</label><br>
        <input name="login" class="field" /><br><br>
        <label>Придумайте пароль</label><br>
        <input name="pass" class="field" /><br><br>
        <input type="submit" value="Зарегистрироваться" />
    </form>
</body>
</html>