<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <meta charset="utf-8" />
    <style>
        .field {
            width: 180px;
        }
    </style>
</head>
<body>
    <h1>Войти или <a href="/registration">зарегистрироваться</a></h1>
    <form method="POST">
        <label>Логин</label><br>
        <input name="login" class="field" /><br><br>
        <label>Пароль</label><br>
        <input name="pass" class="field" /><br><br>
        <input type="submit" value="Войти" />
    </form>
</body>
</html>
