<!DOCTYPE html>
<html>
<head>
    <title>Добавление бота</title>
    <meta charset="utf-8" />
    <style>
        .field {
            width: 180px;
        }
    </style>
</head>
<body>
    <h1>Добавление бота</h1>
    <form method="POST">
        <label>Id бота</label><br>
        <input name="idbot" class="field" /><br><br>
        <label>Имя бота</label><br>
        <input name="nameb" class="field" /><br><br>
        <label>Описание работы</label><br>
        <input name="description" class="field" /><br><br>
        <label>Логин владельца</label><br>
        <input name="loginofowner" class="field" /><br><br>
        <input type="submit" value="Отправить" />
    </form>

    <a href="/index">К главной странице</a>
</body>
</html>